Conjoon\Data\Entity\Mail\DefaultMessageFlagEntity:
    type: entity
    repositoryClass: Conjoon\Data\Repository\Mail\DoctrineMessageFlagRepository
    table: {DATABASE.TABLE.PREFIX}groupware_email_items_flags
    id:
        users:
            associationKey: true
        groupwareEmailItems:
            associationKey: true

    fields:
        isRead:
            type: boolean
            nullable: false
            column: is_read
        isSpam:
            type: boolean
            nullable: false
            column: is_spam
        isDeleted:
            type: boolean
            nullable: false
            column: is_deleted
    manyToOne:
        groupwareEmailItems:
            targetEntity: Conjoon\Data\Entity\Mail\DefaultMessageEntity
            mappedBy: null
            inversedBy: null
            joinColumns:
                groupware_email_items_id:
                    referencedColumnName: id
            orphanRemoval: false
        users:
            targetEntity: Conjoon\Data\Entity\User\DefaultUserEntity
            mappedBy: null
            inversedBy: null
            joinColumns:
                user_id:
                    referencedColumnName: id
            orphanRemoval: false
    lifecycleCallbacks: {  }
